body{padding:0px;margin:0px;font-size: 20px;background:url(../images/beijing5.jpg); color: #333;font-family: "楷体"}
ul{list-style: none;}
a{text-decoration: none;color: #333;}
p{font-family:"楷体";font-size: 20px;text-indent: 2em;line-height: 30px;}
.logo{width: 1000px;height: 150px;margin :0px auto;}
.logo .img{float: left;height: 150px;width: 200px;}
.logo .search{float: left;text-align: center;height: 150px;line-height: 150px;}
.logo .search .text{width: 470px;height:40px; border: 1px solid #999;}
.logo .search .button{width: 80px;height: 40px; border: 1px solid #333;background-color: #999;}
.logo .qq{float: left;width: 190px;margin-left: 10px;line-height: 150px;}
.daohang{width: 100%;height: 50px;background-color: #543;padding-left: 0px;}
.daohang ul{width: 1000px;margin:0px auto;padding:0px;}
.daohang ul li{float: left;width: 100px;line-height: 50px;}
.daohang a{color: #fff;font:20px bolder;}
.daohang a:hover{color: #f90;text-decoration: underline;}
.clear{clear: both;}

.last{width: 1000px;margin: 0px auto;text-align: center;}
.foot{padding-left: 150px;font-size: 24px;}
.footer{font-size: 24px;margin-top:35px; }
.foot ul li{float: left;height: 30px;}
.foot li a{width: 150px;line-height: 30px;}
.footer p{font-size: 24px;line-height: 30px;}
.daohang #shouye{color: #fff;font-weight: bolder;}

.main{width: 1000px;margin: 0px auto;}
.main .bread{height: 35px;font-size: 16px;margin-top: 5px;}
.main .left{width: 700px;float: left;}
.left .toper{width: 700px;height: auto;text-align: center;border-top: 1px solid #aaa;border-bottom:1px dashed #aaa ;padding-top: 10px;}
.toper p{font-size: 12px;color: #666}
.buttom{margin-top: 20px;}
.right{width: 290px;height: auto;float: left;margin-left: 10px;margin-top: 0px;}
.right .form{width: 280px;font-size: 20px;}
.form .zhoubian{float: right;}
#zhoubian{background: #068;color: #fff;width: 100px;height: 35px;}
.form p{text-align: center;}
.intention{width: 300px;text-align: center;}
.little{margin-left: 150px;}
legend{font-size: 20px;color: #069;}
.store{width: 290px;height: auto;}
.store .title{width: 290;height: 50px;background-color: #06a;color: #fff;border:1px solid #aaa;margin-top: 10px;padding:0px 20px;}
.title h3{float: left;height: 50px;line-height: 50px;width: 100px;margin: 0px;}
.title span{display: block;float: right;line-height: 50px;}
.store1 {width: 280px;text-align: center;border:1px solid #aaa;padding:0px 5px;}
.store1 h5{color: #543;border-top: 1px dashed #aaa;margin: 0px}
.store1 a:hover{text-decoration: underline;color: #069;}
.store1 p{text-align: center;margin-right: 5px;font-size: 16px;}

